*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
    font-weight: normal;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    background:linear-gradient(to Right, rgb(2, 62, 110), rgb(251, 255, 255));
    padding:5.5rem;
}

section{
    padding:1rem 7%;
    min-height: 100%;
    margin:20%;
    margin-top: 0px;
   
}

.btn{
    font-size: 2rem;
    padding:.7rem 4rem;
    background:rgba(255,255,255,.2);
    color:#fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    margin-top: 1rem;
    cursor: pointer;
    transition:.2s linear;
}

.btn:hover{
    background:rgba(255,255,255,.5);
    color:#555;
}

.heading{
    font-size: 3rem;
    text-align: center;
    padding:1rem;
    color:#fff;

}

header{
    width:35rem;
    background:rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    text-align: center;
    padding:1rem;
    border-radius: 1rem;
}

header .user{
    padding-top: 2rem;
}

header .user img{
    margin:1rem 0;
    height:15rem;
    width:15rem;
    border-radius: 50%;
    border-color: black;
   
}

header .user .name{
    font-size: 3rem;
    color:rgb(235, 239, 241);
    padding:.5rem 0;
    border-radius: 1rem;
}



header .navbar{
    padding:1rem 3rem;
}

header .navbar ul li{
    margin:1rem 0;
    list-style: none;
}

header .navbar ul li a{
    display: block;
    padding:1rem;
    font-size: 2rem;
    color:#fff;
    background:rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    transition: all .2s linear;
}

header .navbar ul li a:hover{
    background:rgba(255,255,255,.5);
    color:#555;
    transition: none;
}

.container{
    height:58rem;
    width:80rem;
    background:rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    border-radius: 1rem;

    overflow: hidden;
}


.button {
    padding:1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    background-color: #006781;
    border: none;
    border-radius: 25px;
  }
  
  .button:hover {background-color: #00ccff}
  
  .button:active {
    background-color: #00b89f;
    box-shadow: 0 3rem #2E424D;
    transform: translateY(4px);
  }
