*{

    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
  
}

html{
    font-size: 80%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.546), rgba(255, 255, 255, 0));
    padding:1.5rem;
    margin: 1%;
}

section{
    min-height: 100%;
    margin:0%;
    margin-top: 32px;
   
    background:linear-gradient(to Right, #ffd500ce, #00c3ff);
   
}



.btn{
    font-size: 2rem;
    padding:.7rem 4rem;
    background:rgba(255,255,255,.2);
    color:#fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    margin-top: 1rem;
    cursor: pointer;
    transition:.2s linear;
}

.btn:hover{
    background:rgba(255,255,255,.5);
    color:#555;
}

.heading{
    font-size: 3rem;
    text-align: center;
    padding:1rem;
    color:#fff;

}

header{
    width:35rem;
    background:rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    text-align: center;
   
    border-radius: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
header.Leaderboard.submit{ margin: 1 rem;}

header .user{
    padding-top: 2rem;
    background:#fffb00ce;
 

}

header .user img{
    margin:1rem 0;
    height:15rem;
    width:15rem;
    border-radius: 50%;
    border-color: black;
   
}

header .user .name{
    font-size: 2.7rem;
    color:rgb(3, 8, 11);
    padding:.5rem;
    border-radius: 1rem;
    margin: .5rem;
}



header .navbar{
    padding:1rem 3rem;
    background:#fffb00ce;

}

header .navbar ul li{
    margin:1rem 0;
    list-style: none;
  
}

header .navbar ul li a{
    display: block;
    padding:1rem;
    font-size: 2rem;
    color:rgb(0, 0, 0);
    background:rgba(255, 170, 0, 0.281);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    transition: all .2s linear;
}

header .navbar ul li a:hover{
    background:rgba(255,255,255,.5);
    color:#555;
    transition: none;
}
p{
    padding-top: 5px;
    padding-top: 5px;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
}
h3{
    padding-top: 1px;
    padding-top: 1px;
    font-style:oblique;
    font-weight: bolder;
    font-size: large;
    
}
h5{
    padding-top: 1px;
    padding-top: 1px;
    font-style:italic; 
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    font-size: large;
    
}


label{
    font-family: 'Impact, Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    font-style: italic;
    font-weight:bold;
    color: #000000;
    text-align: left;
    font-size:16px;
  
}
h1{
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    color:rgb(61, 5, 139);
    background:linear-gradient(to Right, #ffd500ce);
    text-align: center;
    backdrop-filter: blur(.4rem);
    
}

.container{
    height: 60rem;
    width:80rem;
    background:rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    border-radius: 1rem;

    overflow: hidden;
}


.button {
    padding:.5rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background:#e0ec79;
    border: none;
    border-radius: 8px;
  }
  
  .button:hover {background-color: #00000048}
  
  .button:active {
    background-color: #00b89f;
    box-shadow: 0 3rem #2E424D;
    transform: translateY(4px);
  }
form{
    align-items:center;
    text-align: left;
}
textarea
{
    border-radius: .5px;
    margin-bottom: 5px;
    background-color:  rgba(255, 230, 0, 0.355);
    height: 100px;
    width: 300px;
}

  .divScroll::-webkit-scrollbar {
    display: none;
  }
    .divScroll{
        overflow:scroll;
        height:400px;
        width: 570px;
        -ms-overflow-style: none; 
 scrollbar-width: none;  

    }



    .interest{
        font-family: 'Abril Fatface', cursive;
        font-size: 38px;
       color:rgb(0, 0, 0);





    }


    .userdetails{ 

        padding-left: 32%;
       

    }


    .leader{
        padding-left: 130px;
    }


    select {
        appearance: none;
        color: rgb(5, 0, 0);
        background-color:  rgba(255, 230, 0, 0.355);
        width: 25em;
        height: 5em;
      text-align: center;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 5px;
        font-family: 'Abril Fatface', cursive;
        font-size: 12px;
    }
     
    .select {
        position: relative;
        display: block;
        width: 30em;
        height: 6em;
        align-items: center;

        overflow: hidden;
        border-radius:5px;
    }









input[type="text"]{
    color: rgb(5, 0, 0);
    background-color:  rgba(255, 230, 0, 0.355);
    padding:5px;
    align-items:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
   
    font-size: 12px;
    font-style: italic;
    border-radius: 45px;
    margin-left: 0px;  
    text-align: center;
  font-weight: bolder;
  font-style: italic;
  height: 25px;
  width: 300px;
    
  }
  
  
  input[type="url"]{
    color: rgb(5, 0, 0);
    background-color:  rgba(255, 230, 0, 0.355);
    padding:5px;
    align-items:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
   
    font-size: 12px;
    font-style: italic;
    border-radius:45px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    height: 25px;
    width: 300px;
      
      
    
  }
  
  
 
  
  
  input[type="checkbox"]{
   
  
    place-items: center;
    
    
  }
  