* {
  font-family: '微軟正黑體';
  transition: 0.1s;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}
html,
body {
  background-color: #EAEBED;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow-x:hidden;
  overflow-y: hidden;
  padding: 25px;
}
section{
  padding: 2em;
 
margin-left: 20px;
  margin-top: 0px;
 
}

header{
  width: 250px;
  background:rgb(74, 207, 255);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
  backdrop-filter: blur(1rem);
  text-align: center;
  padding:1rem;
  border-radius: 0.4rem;
}
header.p{
  width: 200px;
  background:rgb(74, 207, 255);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
  backdrop-filter: blur(1rem);
  text-align: center;
  padding:1rem;
  border-radius: 0.2rem;
}
h4{
  width: 200px;

  background:rgba(82, 56, 231, 0.738);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
  backdrop-filter: blur(1rem);
  text-align: center;
  padding: 1rem;
  border-radius: 2.2rem;
}

.card {
  box-shadow:  2px 2px 4px hwb(188 0% 3%);
  color: #2d010c;
  width: 400px;
  height: 600px;
  border-radius: 4px;
  overflow: hidden;
  padding-right: 1px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  align-items: center;

}

.card .cover {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 480px;
  border-radius: 0px;
  position: absolute;
  right: 0px;
  background-color: #3A7B99;
  color: rgb(211, 211, 211);
}
.card .cover #changePage {
  position: absolute;
  width: 100px;
  height: 40px;
  border-radius: 16px;
  border: none;
  margin-top: 160px;
  color: #3A7B99;
  background-color: #fff;
  font-size: 20px;
}
.group{
  margin: 20px;

}

.button {

  width: 200px;
  padding: 8px 15px ;
  margin-bottom:10px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: #3c3535c7;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px #2E424D;
}

.button:hover {background-color: #00ff0071}

.button:active {
  background-color: #00d2ee;
  box-shadow: 0 5px #2E424D;
  transform: translateY(4px);
}







.btn {

  width: 100px;
  padding: 8px 15px ;
  margin-bottom:5px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: #3c3535c7;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px #2E424D;
}

.btn:hover {background-color: #00ff0071}

.btn:active {
  background-color: #00d2ee;
  box-shadow: 0 5px #2E424D;
  transform: translateY(4px);
}