



@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid rgb(222, 138, 12);
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: rgb(0, 0, 0);
  background:linear-gradient(to Right, #ffd500ce, #cfeef7);
  height: max-content;
}


.rwd-table {
  background: #eecb068b;
  color: rgb(0, 0, 0);
  border-radius: .6em;
  overflow: hidden;
  padding: 5px;
  margin-left: 20px;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #dd5;
  background-color: black;
  border-radius: 5px;
  padding: 3px;
  align-items: center;
  align-text: center;
  border: 1px solid white;
  margin-right: 20px;
}







input[type="text"]{
  color: rgb(5, 0, 0);
  background-color:  rgba(255, 230, 0, 0.355);
  padding:5px;
  align-items:center;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
 
  font-size: 12px;
  font-style: italic;
  border-radius: 45px;
  margin-left: 0px;  
  text-align: center;
font-weight: bolder;
font-style: italic;
height: 25px;
width: 300px;
  
}



.button {
  padding:.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background:#e0ec79;
  border: none;
  border-radius: 8px;
}
  
.button:hover {background-color: #00000048}
  
.button:active {
  background-color: #00b89f;
  box-shadow: 0 3rem #2E424D;
}
p{
  padding-top: 5px;
  padding-top: 5px;
  font-style: italic;
  font-size: 13px;
  font-weight: normal;
}


h1{
  font-family: 'Prompt', sans-serif;
  font-size: 50px;
  color:rgb(0, 0, 0);
  font-weight: 900;

  background:linear-gradient(to Right, #ffd500ce);
  text-align: center;
  backdrop-filter: blur(.4rem);
  
}



h2{
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
  color:rgb(61, 5, 139);

  background:linear-gradient(to Right, #ffd500ce);
  text-align: center;
  backdrop-filter: blur(.4rem);
  
}

.card .interest{
  height: 20rem;
  width:100rem;
  background:rgba(255, 255, 255, 0.704);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
  backdrop-filter: blur(.4rem);
  border-radius: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}
.card .add{
  margin-top: 30px;
  max-height: 100rem;
  max-width:100rem;
  background:rgba(255, 255, 255, 0.739);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
  backdrop-filter: blur(.4rem);
  border-radius: 1rem;
  


  overflow: hidden;
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow: hidden;

}


button {
  padding:.5rem;
 margin: 30px;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background:#ecea79;
  border: none;
  border-radius: 8px;
}

button:hover {background-color: #f9f9f9}

button:active {
  background-color: #00b89f;
  box-shadow: 0 3rem #2E424D;
  transform: translateY(4px);
}
a{
  margin: 25px;
  padding: 25px;
  background-color: #dd5;
}